
## üßπ Limpieza de datos üßπ

##**üßπ Importamos las librerias que vamos a utilizar**

In [ ]:
import numpy as np
import pandas as pd

## **üßπAbrimos el dataset con los que vamos a trabajar.**
Cuando hablamos de **Dataset**, nos referimos a un conjunto de datos (se pueden encontrar en diferentes formatos: CSV, PARQUET, JSON, etc...)
##En nuestro caso, dicho data set se encuentran en formato CSV.
CSV es un archivo de texto que contiene datos separados por coma y nos permite guardar los datos en un formato de tabla estructurada.
Cada regitro est√° separado por un salto de l√≠nea.

#Ejemplo:
![csvEjemplo](https://3.bp.blogspot.com/-53Ahq0v3ehw/Xe_fwe_CDaI/AAAAAAAAAhk/J2y4eQinue8likCs8W7t-IXw_n5by3vuQCLcBGAsYHQ/w1200-h630-p-k-no-nu/archivo%2Bcsv.PNG)

Nuestro conjunto de datos lo vamos a abrir desde GIT HUB: [MESSI.CSV](https://github.com/cristiandarioortegayubro/base/tree/main/dataset)
~~~markdown
https://github.com/cristiandarioortegayubro/base/tree/main/dataset
~~~

In [ ]:
dfMessi= pd.read_csv("https://raw.githubusercontent.com/cristiandarioortegayubro/base/main/dataset/messiSucio.csv")

üßπ Para ver todo el contenido de una columna

In [ ]:
dfMessi

,Tournament,Matchday,Date,Venue,Club,Opponent,Result,Position,Minute,When Scored,Goal Type,Assist,Pareja
0,LaLiga,34,5/1/05,Home,FC Barcelona,Albacete Balompi√©,2:0,CF,90'+1,2:0,Left-footed shot,Ronaldinho Ga√∫cho,Antonela Rocuzzo
1,Champions League,Group Stage,11/2/05,Home,FC Barcelona,Panathinaikos Athens,5:0,RW,34',3:0,Left-footed shot,Not Applicable,Antonela Rocuzzo
2,LaLiga,13,11/27/05,Home,FC Barcelona,Racing Santander,4:1,RW,51',2:0,Left-footed shot,Samuel Eto'o,Antonela Rocuzzo
3,LaLiga,19,1/15/06,Home,FC Barcelona,Athletic Bilbao,2:1,RW,50',2:1,Left-footed shot,Mark van Bommel,Antonela Rocuzzo
4,LaLiga,20,1/22/06,Home,FC Barcelona,Deportivo Alav√©s,2:0,CF,82',2:0,Left-footed shot,Ronaldinho Ga√∫cho,Antonela Rocuzzo
...,...,...,...,...,...,...,...,...,...,...,...,...,...
743,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

üßπ Dimensiones de nuestro archivo

In [ ]:
dfMessi.shape

(748, 13)

In [ ]:
dfMessi.shape[0]

748

In [ ]:
dfMessi.shape[1]

13

üßπVemos las primeras 5 filas

In [ ]:
dfMessi.head()

,Tournament,Matchday,Date,Venue,Club,Opponent,Result,Position,Minute,When Scored,Goal Type,Assist,Pareja
0,LaLiga,34,5/1/05,Home,FC Barcelona,Albacete Balompi√©,2:0,CF,90'+1,2:0,Left-footed shot,Ronaldinho Ga√∫cho,Antonela Rocuzzo
1,Champions League,Group Stage,11/2/05,Home,FC Barcelona,Panathinaikos Athens,5:0,RW,34',3:0,Left-footed shot,Not Applicable,Antonela Rocuzzo
2,LaLiga,13,11/27/05,Home,FC Barcelona,Racing Santander,4:1,RW,51',2:0,Left-footed shot,Samuel Eto'o,Antonela Rocuzzo
3,LaLiga,19,1/15/06,Home,FC Barcelona,Athletic Bilbao,2:1,RW,50',2:1,Left-footed shot,Mark van Bommel,Antonela Rocuzzo
4,LaLiga,20,1/22/06,Home,FC Barcelona,Deportivo Alav√©s,2:0,CF,82',2:0,Left-footed shot,Ronaldinho Ga√∫cho,Antonela Rocuzzo

üßπ Podemos cambiar los nombres de las columnas a espa√±ol para visualizar mejor los datos

In [ ]:
dfMessi.columns

Index(['Tournament', 'Matchday', 'Date', 'Venue', 'Club', 'Opponent', 'Result',
       'Position', 'Minute', 'When Scored', 'Goal Type', 'Assist', 'Pareja'],
      dtype='object')

In [ ]:
nombresEspa√±ol = {
                'Tournament':'Torneo',
                'Matchday':'Jornada',
               'Date':'Fecha',
               'Venue':'Evento', 
               'Opponent':'Oponente', 
                'Result':'Resultado',
                'Position':'Posici√≥n',
                'Minute':'Minuto',
                'When Scored':'Momento_del_gol',
                'Goal Type':'Tipo_de_gol',
                'Assist':'Asistente'}
             
dfMessi.rename(columns=nombresEspa√±ol, inplace=True)

In [ ]:
dfMessi.head()

,Torneo,Jornada,Fecha,Evento,Club,Oponente,Resultado,Posici√≥n,Minuto,Momento_del_gol,Tipo_de_gol,Asistente,Pareja
0,LaLiga,34,5/1/05,Home,FC Barcelona,Albacete Balompi√©,2:0,CF,90'+1,2:0,Left-footed shot,Ronaldinho Ga√∫cho,Antonela Rocuzzo
1,Champions League,Group Stage,11/2/05,Home,FC Barcelona,Panathinaikos Athens,5:0,RW,34',3:0,Left-footed shot,Not Applicable,Antonela Rocuzzo
2,LaLiga,13,11/27/05,Home,FC Barcelona,Racing Santander,4:1,RW,51',2:0,Left-footed shot,Samuel Eto'o,Antonela Rocuzzo
3,LaLiga,19,1/15/06,Home,FC Barcelona,Athletic Bilbao,2:1,RW,50',2:1,Left-footed shot,Mark van Bommel,Antonela Rocuzzo
4,LaLiga,20,1/22/06,Home,FC Barcelona,Deportivo Alav√©s,2:0,CF,82',2:0,Left-footed shot,Ronaldinho Ga√∫cho,Antonela Rocuzzo

üßπ Visualizamos tipo de datos y cantidad de elementos no nulos por columna

In [ ]:
dfMessi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Torneo           712 non-null    object
 1   Jornada          712 non-null    object
 2   Fecha            712 non-null    object
 3   Evento           712 non-null    object
 4   Club             712 non-null    object
 5   Oponente         712 non-null    object
 6   Resultado        712 non-null    object
 7   Posici√≥n         712 non-null    object
 8   Minuto           712 non-null    object
 9   Momento_del_gol  712 non-null    object
 10  Tipo_de_gol      712 non-null    object
 11  Asistente        712 non-null    object
 12  Pareja           712 non-null    object
dtypes: object(13)
memory usage: 76.1+ KB

üßπ Si hay datos que no corresponden con el contenido del dato, debemos cambiarlos.

> **Podemos comenzar por los que no contienen diferentes tipos de datos como n√∫meros y fechas, o n√∫meros y strings **

In [ ]:
dfMessi.dtypes

Torneo             object
Jornada            object
Fecha              object
Evento             object
Club               object
Oponente           object
Resultado          object
Posici√≥n           object
Minuto             object
Momento_del_gol    object
Tipo_de_gol        object
Asistente          object
Pareja             object
dtype: object

In [ ]:
dfMessi.head()

,Torneo,Jornada,Fecha,Evento,Club,Oponente,Resultado,Posici√≥n,Minuto,Momento_del_gol,Tipo_de_gol,Asistente,Pareja
0,LaLiga,34,5/1/05,Home,FC Barcelona,Albacete Balompi√©,2:0,CF,90'+1,2:0,Left-footed shot,Ronaldinho Ga√∫cho,Antonela Rocuzzo
1,Champions League,Group Stage,11/2/05,Home,FC Barcelona,Panathinaikos Athens,5:0,RW,34',3:0,Left-footed shot,Not Applicable,Antonela Rocuzzo
2,LaLiga,13,11/27/05,Home,FC Barcelona,Racing Santander,4:1,RW,51',2:0,Left-footed shot,Samuel Eto'o,Antonela Rocuzzo
3,LaLiga,19,1/15/06,Home,FC Barcelona,Athletic Bilbao,2:1,RW,50',2:1,Left-footed shot,Mark van Bommel,Antonela Rocuzzo
4,LaLiga,20,1/22/06,Home,FC Barcelona,Deportivo Alav√©s,2:0,CF,82',2:0,Left-footed shot,Ronaldinho Ga√∫cho,Antonela Rocuzzo

In [ ]:
dfMessi["Minuto"].unique()

array(["90'+1", "34'", "51'", "50'", "82'", "75'", "83'", "42'", "84'",
       "59'", "36'", "89'", "80'", "11'", "28'", "86'", "45'", "29'",
       "39'", "43'", "57'", "72'", "79'", "5'", "10'", "66'", "19'",
       "41'", "81'", "58'", "18'", "44'", "70'", "85'", "90'", "87'",
       "90'+2", "8'", "4'", "61'", "49'", "78'", "21'", "76'", "65'",
       "30'", "31'", "40'", "26'", "9'", "38'", "23'", "35'", "55'",
       "68'", "15'", "90'+3", "63'", "25'", "64'", "110'", "54'", "7'",
       "56'", "13'", "67'", "37'", "88'", "32'", "16'", "74'", "3'",
       "22'", "12'", "20'", "46'", "73'", "33'", "77'", "52'", "53'",
       "69'", "24'", "45'+2", "17'", "71'", "27'", "60'", "48'", "6'",
       "62'", "45'+1", "90'+4", "47'", "14'", "45'+4", nan], dtype=object)

In [ ]:
dfMessi["Momento_del_gol"]. unique()

array(['2:0', '3:0', '2:1', '0:2', '0:3', '1:0', '5:1', '1:2', '1:1',
       '3:1', '2:2', '3:3', '0:4', '0:1', '0:5', '2:3', '1:5', '1:6',
       '1:3', '4:1', '2:5', '5:2', '4:0', '1:4', '0:7', '3:2', '5:0',
       '8:0', '4:2', '7:0', '2:4', '3:5', '6:0', '3:4', '0:6', '6:1',
       '6:2', '4:3', nan], dtype=object)

In [ ]:
dfMessi["Fecha"]. unique()

array(['5/1/05', '11/2/05', '11/27/05', '1/15/06', '1/22/06', '1/29/06',
       '2/1/06', '2/18/06', '8/28/06', '9/9/06', '9/27/06', '10/15/06',
       '3/10/07', '3/17/07', '3/31/07', '4/18/07', '5/20/07', '6/9/07',
       '6/17/07', '9/19/07', '9/22/07', '9/26/07', '9/29/07', '10/2/07',
       '10/7/07', '10/28/07', '11/7/07', '11/24/07', '11/27/07',
       '2/20/08', '2/24/08', '5/4/08', '9/13/08', '9/21/08', '9/27/08',
       '10/1/08', '10/4/08', '10/22/08', '11/1/08', '11/4/08', '11/12/08',
       '11/16/08', '11/26/08', '11/29/08', '12/13/08', '1/6/09',
       '1/11/09', '1/17/09', '1/24/09', '2/1/09', '3/1/09', '3/4/09',
       '3/7/09', '3/11/09', '3/22/09', '4/8/09', '4/18/09', '4/25/09',
       '5/2/09', '5/13/09', '5/27/09', '8/23/09', '9/12/09', '9/19/09',
       '9/22/09', '9/29/09', '10/25/09', '11/7/09', '11/10/09', '12/5/09',
       '12/9/09', '12/16/09', '12/19/09', '1/10/10', '1/16/10', '1/23/10',
       '2/6/10', '2/27/10', '3/6/10', '3/14/10', '3/17/10', '3/21/10',
       '4/3/10', '4/6/10', '4/10/10', '5/1/10', '5/4/10', '5/8/10',
       '5/16/10', '8/21/10', '8/29/10', '9/14/10', '9/19/10', '10/3/10',
       '10/20/10', '10/23/10', '10/30/10', '11/2/10', '11/7/10',
       '11/10/10', '11/13/10', '11/20/10', '11/24/10', '12/4/10',
       '12/12/10', '1/8/11', '1/12/11', '1/19/11', '1/22/11', '1/26/11',
       '1/29/11', '2/5/11', '2/20/11', '2/26/11', '3/2/11', '3/8/11',
       '4/9/11', '4/12/11', '4/16/11', '4/23/11', '4/27/11', '5/28/11',
       '8/14/11', '8/17/11', '8/26/11', '8/29/11', '9/17/11', '9/24/11',
       '9/28/11', '10/15/11', '10/29/11', '11/1/11', '11/6/11',
       '11/19/11', '11/23/11', '11/29/11', '12/3/11', '12/18/11',
       '1/4/12', '1/15/12', '1/22/12', '2/4/12', '2/14/12', '2/19/12',
       '2/26/12', '3/7/12', '3/11/12', '3/17/12', '3/20/12', '3/24/12',
       '3/31/12', '4/3/12', '4/7/12', '4/10/12', '4/14/12', '4/29/12',
       '5/2/12', '5/5/12', '5/25/12', '8/19/12', '8/23/12', '8/26/12',
       '8/29/12', '9/15/12', '9/19/12', '10/7/12', '10/20/12', '10/27/12',
       '11/7/12', '11/11/12', '11/17/12', '11/20/12', '11/25/12',
       '12/1/12', '12/9/12', '12/12/12', '12/16/12', '12/22/12', '1/6/13',
       '1/13/13', '1/16/13', '1/19/13', '1/24/13', '1/27/13', '2/3/13',
       '2/10/13', '2/16/13', '2/23/13', '3/2/13', '3/9/13', '3/12/13',
       '3/17/13', '3/30/13', '4/2/13', '4/27/13', '5/5/13', '8/18/13',
       '9/1/13', '9/14/13', '9/18/13', '9/24/13', '9/28/13', '10/22/13',
       '11/6/13', '1/8/14', '1/16/14', '2/1/14', '2/9/14', '2/12/14',
       '2/15/14', '2/18/14', '2/22/14', '3/2/14', '3/12/14', '3/16/14',
       '3/23/14', '3/26/14', '3/29/14', '4/5/14', '4/20/14', '4/27/14',
       '5/3/14', '8/24/14', '9/21/14', '9/27/14', '9/30/14', '10/4/14',
       '10/18/14', '10/21/14', '11/5/14', '11/22/14', '11/25/14',
       '12/7/14', '12/10/14', '12/20/14', '1/8/15', '1/11/15', '1/18/15',
       '1/21/15', '1/24/15', '2/1/15', '2/8/15', '2/11/15', '2/15/15',
       '2/28/15', '3/8/15', '3/14/15', '4/8/15', '4/11/15', '4/18/15',
       '4/25/15', '4/28/15', '5/2/15', '5/6/15', '5/17/15', '5/23/15',
       '5/30/15', '8/11/15', '8/17/15', '9/12/15', '9/20/15', '11/24/15',
       '11/28/15', '12/9/15', '12/12/15', '12/20/15', '12/30/15',
       '1/6/16', '1/9/16', '1/17/16', '1/23/16', '1/30/16', '2/3/16',
       '2/14/16', '2/17/16', '2/23/16', '2/28/16', '3/3/16', '3/6/16',
       '3/12/16', '3/16/16', '4/17/16', '4/20/16', '4/23/16', '5/8/16',
       '8/17/16', '8/20/16', '9/13/16', '9/17/16', '10/15/16', '10/19/16',
       '10/22/16', '11/1/16', '11/6/16', '11/23/16', '11/27/16',
       '12/6/16', '12/10/16', '12/18/16', '1/5/17', '1/8/17', '1/11/17',
       '1/14/17', '1/22/17', '1/26/17', '2/1/17', '2/4/17', '2/11/17',
       '2/19/17', '2/26/17', '3/1/17', '3/4/17', '3/8/17', '3/19/17',
       '4/5/17', '4/15/17', '4/23/17', '4/26/17', '5/6/17', '5/21/17',
       '5/27/17', '8/13/17', '8/26/17', '9/9/17', '9/12/17', '9/19/17',
       '10/1/17', '10/18/17', '10/28/17', '12/2/17', '12/10/17',
       '12/23/17', '1/7/18', '1/11/18', '1/14/18', '1/21/18', '1/25/18',
       '1/28/18', '2/20/18', '2/24/18', '3/1/18', '3/4/18', '3/14/18',
       '3/18/18', '3/31/18', '4/7/18', '4/21/18', '4/29/18', '5/6/18',
       '5/9/18', '8/18/18', '9/2/18', '9/18/18', '9/23/18', '10/3/18',
       '10/7/18', '10/20/18', '11/11/18', '11/28/18', '12/8/18',
       '12/16/18', '12/22/18', '1/6/19', '1/13/19', '1/17/19', '1/20/19',
       '1/27/19', '1/30/19', '2/2/19', '2/16/19', '2/23/19', '3/9/19',
       '3/13/19', '3/17/19', '3/30/19', '4/2/19', '4/6/19', '4/16/19',
       '4/27/19', '5/1/19', '5/19/19', '5/25/19', '10/6/19', '10/19/19',
       '10/23/19', '10/29/19', '11/2/19', '11/9/19', '11/27/19',
       '12/1/19', '12/7/19', '12/21/19', '1/9/20', '1/19/20', '1/30/20',
       '2/22/20', '3/7/20', '6/13/20', '6/16/20', '6/30/20', '7/16/20',
       '7/19/20', '8/8/20', '9/27/20', '10/20/20', '10/28/20', '11/4/20',
       '11/7/20', '11/29/20', '12/13/20', '12/19/20', '12/22/20',
       '1/6/21', '1/9/21', '1/27/21', '1/31/21', '2/7/21', '2/13/21',
       '2/16/21', '2/21/21', '2/24/21', '2/27/21', '3/10/21', '3/15/21',
       '3/21/21', '4/17/21', '4/22/21', '4/29/21', '5/2/21', '5/11/21',
       '5/16/21', '9/28/21', '10/19/21', '11/20/21', '12/7/21', '2/6/22',
       '4/3/22', '4/23/22', '5/14/22', '7/31/22', '8/6/22', '8/21/22',
       '9/14/22', '9/18/22', '10/1/22', nan], dtype=object)



> Convertimos los tipos de datos

In [ ]:
dfMessi.head()

,Torneo,Jornada,Fecha,Evento,Club,Oponente,Resultado,Posici√≥n,Minuto,Momento_del_gol,Tipo_de_gol,Asistente,Pareja
0,LaLiga,34,5/1/05,Home,FC Barcelona,Albacete Balompi√©,2:0,CF,90'+1,2:0,Left-footed shot,Ronaldinho Ga√∫cho,Antonela Rocuzzo
1,Champions League,Group Stage,11/2/05,Home,FC Barcelona,Panathinaikos Athens,5:0,RW,34',3:0,Left-footed shot,Not Applicable,Antonela Rocuzzo
2,LaLiga,13,11/27/05,Home,FC Barcelona,Racing Santander,4:1,RW,51',2:0,Left-footed shot,Samuel Eto'o,Antonela Rocuzzo
3,LaLiga,19,1/15/06,Home,FC Barcelona,Athletic Bilbao,2:1,RW,50',2:1,Left-footed shot,Mark van Bommel,Antonela Rocuzzo
4,LaLiga,20,1/22/06,Home,FC Barcelona,Deportivo Alav√©s,2:0,CF,82',2:0,Left-footed shot,Ronaldinho Ga√∫cho,Antonela Rocuzzo

In [ ]:
dfMessi["Torneo"] = dfMessi["Torneo"].astype("string")
dfMessi["Jornada"] = dfMessi["Jornada"].astype("string")
dfMessi["Fecha"] = pd.to_datetime(dfMessi["Fecha"])
dfMessi["Evento"] = dfMessi["Evento"].astype("string")
dfMessi["Club"] = dfMessi["Club"].astype("string")
dfMessi["Oponente"] = dfMessi["Oponente"].astype("string")
dfMessi["Resultado"] = dfMessi["Resultado"].astype("string")
dfMessi["Posici√≥n"] = dfMessi["Posici√≥n"].astype("string")
dfMessi["Tipo_de_gol"] = dfMessi["Tipo_de_gol"].astype("string")
dfMessi["Asistente"] = dfMessi["Asistente"].astype("string")
dfMessi["Pareja"] = dfMessi["Pareja"].astype("string")
dfMessi["Minuto"] = dfMessi["Minuto"].astype("string")
dfMessi["Momento_del_gol"] = dfMessi["Momento_del_gol"].astype("string")

In [ ]:
dfMessi.dtypes

Torneo                     string
Jornada                    string
Fecha              datetime64[ns]
Evento                     string
Club                       string
Oponente                   string
Resultado                  string
Posici√≥n                   string
Minuto                     string
Momento_del_gol            string
Tipo_de_gol                string
Asistente                  string
Pareja                     string
dtype: object

üßπ El m√©todo **describe()** devuelve la descripci√≥n de los datos en el DataFrame.

Si el DataFrame contiene datos num√©ricos, la descripci√≥n contiene esta informaci√≥n para cada columna:

>**count**: el n√∫mero de valores no vac√≠os.

>**unique**: valor √∫nico.

>**top**: El elemento que m√°s se repite.

>**freq**: La cantidad de veces que se repite dicho elemento

In [ ]:
dfMessi.describe()

<ipython-input-48-89692bf37c3b>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  dfMessi.describe()

,Torneo,Jornada,Fecha,Evento,Club,Oponente,Resultado,Posici√≥n,Minuto,Momento_del_gol,Tipo_de_gol,Asistente,Pareja
count,712,712,712,712,712,712,712,712,712,712,712,712,712
unique,8,46,445,2,2,91,46,5,96,38,13,66,1
top,LaLiga,Group Stage,2022-08-06 00:00:00,Home,FC Barcelona,Sevilla FC,4:0,RW,86',1:0,Left-footed shot,Not Applicable,Antonela Rocuzzo
freq,474,79,6,420,672,38,48,319,14,104,441,218,712
first,NaN,NaN,2005-05-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,2022-10-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Divisamos porcentajes de nulos por cada columna

In [ ]:
dfMessi.isnull().sum()

Torneo             36
Jornada            36
Fecha              36
Evento             36
Club               36
Oponente           36
Resultado          36
Posici√≥n           36
Minuto             36
Momento_del_gol    36
Tipo_de_gol        36
Asistente          36
Pareja             36
dtype: int64

In [ ]:

dfMessi.isnull().sum() / dfMessi.shape[0] * 100

Torneo             4.812834
Jornada            4.812834
Fecha              4.812834
Evento             4.812834
Club               4.812834
Oponente           4.812834
Resultado          4.812834
Posici√≥n           4.812834
Minuto             4.812834
Momento_del_gol    4.812834
Tipo_de_gol        4.812834
Asistente          4.812834
Pareja             4.812834
dtype: float64

In [ ]:

dfMessi.isnull().sum()*100/dfMessi.shape[0]

Torneo             4.812834
Jornada            4.812834
Fecha              4.812834
Evento             4.812834
Club               4.812834
Oponente           4.812834
Resultado          4.812834
Posici√≥n           4.812834
Minuto             4.812834
Momento_del_gol    4.812834
Tipo_de_gol        4.812834
Asistente          4.812834
Pareja             4.812834
dtype: float64

In [ ]:

dfMessi.isnull().sum() / dfMessi.shape[1] * 100

Torneo             276.923077
Jornada            276.923077
Fecha              276.923077
Evento             276.923077
Club               276.923077
Oponente           276.923077
Resultado          276.923077
Posici√≥n           276.923077
Minuto             276.923077
Momento_del_gol    276.923077
Tipo_de_gol        276.923077
Asistente          276.923077
Pareja             276.923077
dtype: float64

üßπ Eliminamos las filas que tienen todos nulos

In [ ]:
dfMessi.dropna(how="all", axis=0, inplace=True)

In [ ]:
dfMessi.isnull().sum()

Torneo             0
Jornada            0
Fecha              0
Evento             0
Club               0
Oponente           0
Resultado          0
Posici√≥n           0
Minuto             0
Momento_del_gol    0
Tipo_de_gol        0
Asistente          0
Pareja             0
dtype: int64

In [ ]:
dfMessi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 0 to 711
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Torneo           712 non-null    string
 1   Jornada          712 non-null    string
 2   Fecha            712 non-null    datetime64[ns]
 3   Evento           712 non-null    string
 4   Club             712 non-null    string
 5   Oponente         712 non-null    string
 6   Resultado        712 non-null    string
 7   Posici√≥n         712 non-null    string
 8   Minuto           712 non-null    string
 9   Momento_del_gol  712 non-null    string
 10  Tipo_de_gol      712 non-null    string
 11  Asistente        712 non-null    string
 12  Pareja           712 non-null    string
dtypes: datetime64[ns](1), string(12)
memory usage: 77.9 KB

üßπ Eliminamos las filas que tienen un porcentaje de NaN mayor al 80%

In [ ]:
dfMessi.dropna(axis=0, thresh=int(0.8*dfMessi.shape[1]))

,Torneo,Jornada,Fecha,Evento,Club,Oponente,Resultado,Posici√≥n,Minuto,Momento_del_gol,Tipo_de_gol,Asistente,Pareja
0,LaLiga,34,2005-05-01,Home,FC Barcelona,Albacete Balompi√©,2:0,CF,90'+1,2:0,Left-footed shot,Ronaldinho Ga√∫cho,Antonela Rocuzzo
1,Champions League,Group Stage,2005-11-02,Home,FC Barcelona,Panathinaikos Athens,5:0,RW,34',3:0,Left-footed shot,Not Applicable,Antonela Rocuzzo
2,LaLiga,13,2005-11-27,Home,FC Barcelona,Racing Santander,4:1,RW,51',2:0,Left-footed shot,Samuel Eto'o,Antonela Rocuzzo
3,LaLiga,19,2006-01-15,Home,FC Barcelona,Athletic Bilbao,2:1,RW,50',2:1,Left-footed shot,Mark van Bommel,Antonela Rocuzzo
4,LaLiga,20,2006-01-22,Home,FC Barcelona,Deportivo Alav√©s,2:0,CF,82',2:0,Left-footed shot,Ronaldinho Ga√∫cho,Antonela Rocuzzo
...,...,...,...,...,...,...,...,...,...,...,...,...,...
707,Ligue 1,1,2022-08-06,Away,Paris Saint-Germain,Clermont Foot 63,0:5,CF,86',0:5,Left-footed shot,Leandro Paredes,Antonela Rocuzzo
708,Ligue 1,3,2022-08-21,Away,Paris Saint-Germain,LOSC Lille,1:7,AM,27',0:2,Right-footed shot,Nuno Mendes,Antonela Rocuzzo
709,Champions League,Group Stage,2022-09-14,Away,Paris Saint-Germain,Maccabi Haifa,1:3,SS,37',1:1,Left-footed shot,Not Applicable,Antonela Rocuzzo
710,Ligue 1,8,2022-09-18,Away,Paris Saint-Germain,Olympique Lyon,0:1,AM,5',0:1,Left-footed shot,Neymar,Antonela Rocuzzo
711,Ligue 1,9,2022-10-01,Home,Paris Saint-Germain,OGC Nice,2:1,AM,28',1:0,Direct free kick,Not Applicable,Antonela Rocuzzo

In [ ]:
dfMessi.shape

(712, 13)

In [ ]:
dfMessi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 0 to 711
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Torneo           712 non-null    string
 1   Jornada          712 non-null    string
 2   Fecha            712 non-null    datetime64[ns]
 3   Evento           712 non-null    string
 4   Club             712 non-null    string
 5   Oponente         712 non-null    string
 6   Resultado        712 non-null    string
 7   Posici√≥n         712 non-null    string
 8   Minuto           712 non-null    string
 9   Momento_del_gol  712 non-null    string
 10  Tipo_de_gol      712 non-null    string
 11  Asistente        712 non-null    string
 12  Pareja           712 non-null    string
dtypes: datetime64[ns](1), string(12)
memory usage: 77.9 KB

üßπ Eliminamos las columnas completas que no nos van a servir para nuestro an√°lisis o que no tienen informaci√≥n relevante

In [ ]:
#por ejemplo, pareja 

dfMessi.drop("Pareja", axis=1, inplace=True)

In [ ]:
dfMessi.shape

(712, 12)

üßπ Eliminamos columnas duplicadas.
> Si este es el caso, se quedar√° con una de las dos filas

In [ ]:
dfMessi.drop_duplicates(keep='first', inplace=True)

In [ ]:
dfMessi

,Torneo,Jornada,Fecha,Evento,Club,Oponente,Resultado,Posici√≥n,Minuto,Momento_del_gol,Tipo_de_gol,Asistente
0,LaLiga,34,2005-05-01,Home,FC Barcelona,Albacete Balompi√©,2:0,CF,90'+1,2:0,Left-footed shot,Ronaldinho Ga√∫cho
1,Champions League,Group Stage,2005-11-02,Home,FC Barcelona,Panathinaikos Athens,5:0,RW,34',3:0,Left-footed shot,Not Applicable
2,LaLiga,13,2005-11-27,Home,FC Barcelona,Racing Santander,4:1,RW,51',2:0,Left-footed shot,Samuel Eto'o
3,LaLiga,19,2006-01-15,Home,FC Barcelona,Athletic Bilbao,2:1,RW,50',2:1,Left-footed shot,Mark van Bommel
4,LaLiga,20,2006-01-22,Home,FC Barcelona,Deportivo Alav√©s,2:0,CF,82',2:0,Left-footed shot,Ronaldinho Ga√∫cho
...,...,...,...,...,...,...,...,...,...,...,...,...
685,Ligue 1,1,2022-08-06,Away,Paris Saint-Germain,Clermont Foot 63,0:5,CF,86',0:5,Left-footed shot,Leandro Paredes
686,Ligue 1,3,2022-08-21,Away,Paris Saint-Germain,LOSC Lille,1:7,AM,27',0:2,Right-footed shot,Nuno Mendes
687,Champions League,Group Stage,2022-09-14,Away,Paris Saint-Germain,Maccabi Haifa,1:3,SS,37',1:1,Left-footed shot,Not Applicable
688,Ligue 1,8,2022-09-18,Away,Paris Saint-Germain,Olympique Lyon,0:1,AM,5',0:1,Left-footed shot,Neymar
689,Ligue 1,9,2022-10-01,Home,Paris Saint-Germain,OGC Nice,2:1,AM,28',1:0,Direct free kick,Not Applicable

In [ ]:
dfMessi.shape

(690, 12)

üßπ Separamos datos que nos resulten √∫tiles durante el an√°lisis.
Por ejemplo: Podemos crear una columna solo con el a√±o.

In [ ]:
dfMessi["A√±o"] = dfMessi["Fecha"].dt.year

In [ ]:
dfMessi.shape

(690, 13)

üßπ Separamos la columna resultado: Resultado_oponente y Resultado_equipo

In [ ]:
dfMessi.Resultado.unique()

<StringArray>
['2:0', '5:0', '4:1', '2:1', '0:3', '5:1', '2:3', '3:0', '1:1', '3:1', '3:3',
 '0:4', '5:2', '0:6', '2:2', '1:5', '1:4', '0:2', '6:0', '1:6', '1:2', '6:1',
 '0:5', '1:0', '2:5', '1:3', '4:3', '4:0', '0:1', '2:6', '4:2', '2:4', '0:8',
 '3:2', '8:0', '7:1', '5:3', '0:7', '4:5', '7:0', '3:4', '5:4', '6:2', '8:2',
 '4:4', '1:7']
Length: 46, dtype: string

In [ ]:
'2:0'.split(":")

['2', '0']

In [ ]:
def separarColumnas(row):
  resultado = row['Resultado']
  evento = row['Evento']
  resultadoSeparado = resultado.split(":")

  if evento == "Home":
    return resultadoSeparado[0], resultadoSeparado[1]
  elif evento == "Away":
   return resultadoSeparado[1], resultadoSeparado[0]

In [ ]:

dfMessi[["Resultado Equipo", "Resultado Oponente"]] = dfMessi.apply(lambda x: separarColumnas(x), axis=1, result_type="expand")

In [ ]:
dfMessi

,Torneo,Jornada,Fecha,Evento,Club,Oponente,Resultado,Posici√≥n,Minuto,Momento_del_gol,Tipo_de_gol,Asistente,A√±o,Resultado Equipo,Resultado Oponente
0,LaLiga,34,2005-05-01,Home,FC Barcelona,Albacete Balompi√©,2:0,CF,90'+1,2:0,Left-footed shot,Ronaldinho Ga√∫cho,2005,2,0
1,Champions League,Group Stage,2005-11-02,Home,FC Barcelona,Panathinaikos Athens,5:0,RW,34',3:0,Left-footed shot,Not Applicable,2005,5,0
2,LaLiga,13,2005-11-27,Home,FC Barcelona,Racing Santander,4:1,RW,51',2:0,Left-footed shot,Samuel Eto'o,2005,4,1
3,LaLiga,19,2006-01-15,Home,FC Barcelona,Athletic Bilbao,2:1,RW,50',2:1,Left-footed shot,Mark van Bommel,2006,2,1
4,LaLiga,20,2006-01-22,Home,FC Barcelona,Deportivo Alav√©s,2:0,CF,82',2:0,Left-footed shot,Ronaldinho Ga√∫cho,2006,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,Ligue 1,1,2022-08-06,Away,Paris Saint-Germain,Clermont Foot 63,0:5,CF,86',0:5,Left-footed shot,Leandro Paredes,2022,5,0
686,Ligue 1,3,2022-08-21,Away,Paris Saint-Germain,LOSC Lille,1:7,AM,27',0:2,Right-footed shot,Nuno Mendes,2022,7,1
687,Champions League,Group Stage,2022-09-14,Away,Paris Saint-Germain,Maccabi Haifa,1:3,SS,37',1:1,Left-footed shot,Not Applicable,2022,3,1
688,Ligue 1,8,2022-09-18,Away,Paris Saint-Germain,Olympique Lyon,0:1,AM,5',0:1,Left-footed shot,Neymar,2022,1,0
689,Ligue 1,9,2022-10-01,Home,Paris Saint-Germain,OGC Nice,2:1,AM,28',1:0,Direct free kick,Not Applicable,2022,2,1

üßπ Vamos a convertir en tipo n√∫merico el minuto del gol

In [ ]:
dfMessi[["Minuto"]]

    Minuto
0    90'+1
1      34'
2      51'
3      50'
4      82'
..     ...
685    86'
686    27'
687    37'
688     5'
689    28'

[690 rows x 1 columns]

In [ ]:
def convertirNumeros(x):
  if type(x) == str:
    string = x.split("+")
    string = [int(s.strip("'")) for s in string]
    return sum(string)

In [ ]:
dfMessi["Minuto Numerico"] = dfMessi["Minuto"].apply(lambda x: convertirNumeros(x))


# üîé **An√°lisis de datos**

üîé ¬øMete m√°s goles en primer o segundo tiempo?

In [ ]:
dfMessi.head()

,Torneo,Jornada,Fecha,Evento,Club,Oponente,Resultado,Posici√≥n,Minuto,Momento_del_gol,Tipo_de_gol,Asistente,A√±o,Resultado Equipo,Resultado Oponente,Minuto Numerico
0,LaLiga,34,2005-05-01,Home,FC Barcelona,Albacete Balompi√©,2:0,CF,90'+1,2:0,Left-footed shot,Ronaldinho Ga√∫cho,2005,2,0,91
1,Champions League,Group Stage,2005-11-02,Home,FC Barcelona,Panathinaikos Athens,5:0,RW,34',3:0,Left-footed shot,Not Applicable,2005,5,0,34
2,LaLiga,13,2005-11-27,Home,FC Barcelona,Racing Santander,4:1,RW,51',2:0,Left-footed shot,Samuel Eto'o,2005,4,1,51
3,LaLiga,19,2006-01-15,Home,FC Barcelona,Athletic Bilbao,2:1,RW,50',2:1,Left-footed shot,Mark van Bommel,2006,2,1,50
4,LaLiga,20,2006-01-22,Home,FC Barcelona,Deportivo Alav√©s,2:0,CF,82',2:0,Left-footed shot,Ronaldinho Ga√∫cho,2006,2,0,82

In [ ]:
def enQueTiempo(row):
  if type(row) == str:
    string = row.split("+")
    string = [int(s.replace("'", "")) for s in string]
    if len(string) == 2:
      return "Primer tiempo extra" if string[0] == 45 else "Segundo tiempo extra"
    else:
      if string[0] <= 45:
        return "Primer tiempo"
      else:
        return "Segundo tiempo"

In [ ]:
dfMessi["Momento_del_gol"].unique()

<StringArray>
['2:0', '3:0', '2:1', '0:2', '0:3', '1:0', '5:1', '1:2', '1:1', '3:1', '2:2',
 '3:3', '0:4', '0:1', '0:5', '2:3', '1:5', '1:6', '1:3', '4:1', '2:5', '5:2',
 '4:0', '1:4', '0:7', '3:2', '5:0', '8:0', '4:2', '7:0', '2:4', '3:5', '6:0',
 '3:4', '0:6', '6:1', '6:2', '4:3']
Length: 38, dtype: string

In [ ]:
dfMessi.Minuto.unique()

<StringArray>
["90'+1",   "34'",   "51'",   "50'",   "82'",   "75'",   "83'",   "42'",
   "84'",   "59'",   "36'",   "89'",   "80'",   "11'",   "28'",   "86'",
   "45'",   "29'",   "39'",   "43'",   "57'",   "72'",   "79'",    "5'",
   "10'",   "66'",   "19'",   "41'",   "81'",   "58'",   "18'",   "44'",
   "70'",   "85'",   "90'",   "87'", "90'+2",    "8'",    "4'",   "61'",
   "49'",   "78'",   "21'",   "76'",   "65'",   "30'",   "31'",   "40'",
   "26'",    "9'",   "38'",   "23'",   "35'",   "55'",   "68'",   "15'",
 "90'+3",   "63'",   "25'",   "64'",  "110'",   "54'",    "7'",   "56'",
   "13'",   "67'",   "37'",   "88'",   "32'",   "16'",   "74'",    "3'",
   "22'",   "12'",   "20'",   "46'",   "73'",   "33'",   "77'",   "52'",
   "53'",   "69'",   "24'", "45'+2",   "17'",   "71'",   "27'",   "60'",
   "48'",    "6'",   "62'", "45'+1", "90'+4",   "47'",   "14'", "45'+4"]
Length: 96, dtype: string

In [ ]:
dfMessi['Momento_del_gol'] = dfMessi['Minuto'].apply(lambda x: enQueTiempo(x))

In [ ]:
golesPrimerTiempo= dfMessi[dfMessi.Momento_del_gol.isin(['Primer tiempo'])].count()[0] 
golesSegundoTiempo= dfMessi[dfMessi.Momento_del_gol.isin(['Segundo tiempo'])].count()[0]
golesPrimerTiempoExtra=dfMessi[dfMessi.Momento_del_gol.isin(["Primer tiempo extra"])].count()[0]
golesSegundoTiempoExtra=dfMessi[dfMessi.Momento_del_gol.isin(["Segundo tiempo extra"])].count()[0]

print(golesPrimerTiempo)
print(golesSegundoTiempo)
print(golesPrimerTiempoExtra)
print(golesSegundoTiempoExtra)

298
360
6
26

In [ ]:
dfMessi.shape[0]

690

In [ ]:
golesPrimerTiempo= dfMessi[dfMessi.Momento_del_gol.isin(['Primer tiempo'])].count()[0] 
golesSegundoTiempo= dfMessi[dfMessi.Momento_del_gol.isin(['Segundo tiempo'])].count()[0]
golesPrimerTiempoExtra=dfMessi[dfMessi.Momento_del_gol.isin(["Primer tiempo extra"])].count()[0]
golesSegundoTiempoExtra=dfMessi[dfMessi.Momento_del_gol.isin(["Segundo tiempo extra"])].count()[0]


print(f"El procentaje de goles en el primer tiempo es {(golesPrimerTiempo/ dfMessi.shape[0] * 100)} %")
print(f"El procentaje de goles en el primer tiempo extra es {(golesPrimerTiempoExtra/ dfMessi.shape[0] * 100)} %")
print(f"El procentaje de goles en el segundo tiempo es {(golesSegundoTiempo / dfMessi.shape[0] * 100 )} %")
print(f"El procentaje de goles en el segundo tiempo extra es {(golesSegundoTiempoExtra / dfMessi.shape[0] * 100)} %")

El procentaje de goles en el primer tiempo es 43.188405797101446 %
El procentaje de goles en el primer tiempo extra es 0.8695652173913043 %
El procentaje de goles en el segundo tiempo es 52.17391304347826 %
El procentaje de goles en el segundo tiempo extra es 3.768115942028986 %

**üîé ¬øCuantos goles hizo Messi por partido? (Debemos sacar el promedio)**

> En est√° parte debemos agrupar los registros de goles por partido. Pueden pasar que dos goles o m√°s se realicen en un mismo partido

In [ ]:
golesPorPartido= dfMessi.groupby(pd.Grouper(key="Fecha")).count().mean()
golesPorPartidoPromedio = golesPorPartido.mean()
print(f"El promedio de goles por partido es de {golesPorPartidoPromedio}")

El promedio de goles por partido es de 1.5505617977528092

üîé Total de goles por a√±o

In [ ]:
golesPorA√±o = dfMessi["A√±o"].value_counts().sort_index()
print(f"El total de goles por a√±o es {golesPorA√±o}")

El total de goles por a√±o es 2005     3
2006    10
2007    25
2008    20
2009    38
2010    58
2011    55
2012    79
2013    39
2014    50
2015    48
2016    51
2017    50
2018    47
2019    45
2020    26
2021    34
2022    12
Name: A√±o, dtype: int64

üîé Promedio de de goles por tipo de movimiento

In [ ]:
partidosJugados=dfMessi['Fecha'].unique() 
partidosJugados.shape[0]

445

In [ ]:
tipodemov = dfMessi['Tipo_de_gol'].value_counts()
partidosJugados=dfMessi['Fecha'].unique()
tipodemov.apply(lambda x : x/partidosJugados.shape[0])

Left-footed shot          0.955056
Penalty                   0.188764
Right-footed shot         0.186517
Direct free kick          0.114607
Header                    0.053933
Tap-in                    0.022472
Solo run                  0.008989
Penalty rebound           0.006742
Deflected shot on goal    0.004494
Not Applicable            0.002247
Counter attack goal       0.002247
Chest                     0.002247
Long distance kick        0.002247
Name: Tipo_de_gol, dtype: float64